<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button id="about-alert" fill="clear" slot="start" color="secondary">
      <ion-icon slot="icon-only" name="information-circle-outline" />
    </ion-button>
    <ion-title>{{ title }}</ion-title>
    <ion-button
      fill="clear"
      slot="end"
      [routerLink]="['/mint']"
      color="secondary"
    >
      <ion-icon slot="icon-only" name="add-outline" />
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-alert
  trigger="about-alert"
  header="Open Authenticator"
  message="{{ description }}"
  [buttons]="aboutAlertActions"
></ion-alert>

<ion-content [fullscreen]="true" color="light">
  <app-account-card
    *ngFor="let account of accounts(); index as i"
    [account]="account"
    [id]="i"
  ></app-account-card>
</ion-content>

<app-toolbar (filter)="query.set($event)" />
